* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*Renamed to match header element instead of using the header class which was removed*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Renamed to H1 as its the only H1 element in the html*/
h1 {
    display: inline-block;
    font-size: 48px;
}

/*renamed class selector to .seo*/
.seo {
    color: #d9dcd6;
}

/*Renamed to select the new nav element instead of .header div*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Simplified element selector to ul so the unordered list is selected*/
ul {
    list-style-type: none;
}

/*Simplified element selector to il so each list item is selected*/
li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/*Renamed to match new Figure element that replaced .hero class*/
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Renamed to main to match the semantic element as .content class was removed*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Consolidated .search-engine-optimization, .online-repuation-management, and .social-media-marketing into one element selector*/
section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Consolidated all the h2 class selectors into one section element selector*/
section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Consolidated all the img class selectors into one*/
section img {
    max-height: 200px;
}

p {
    font-size: 16px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*Changed the .Benefits class to the semantic element Aside*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Consolidated all the benefit class sections to fall under the aricle element*/
article {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Consolidated all the h3 headers for the article into one*/
article h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Consolidated all the img in the article tag into one*/
article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Renamed to match the footer element instead of the footer class which was removed.*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
